div.results-viewer-container {
    height: 100%;
    outline: none;
    outline-offset: -1px;
    display: flex;
    flex-direction: column;
}

button.results-viewer-cursor-button {
    background: transparent;
    border: 1px solid #aaa;
    color:white;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    position: relative;
    top: 1px;
    cursor: pointer;
    white-space: nowrap;
}

    button.results-viewer-cursor-button:disabled{
        font-weight: bold;
        border-bottom: 1px solid #282c34;  
        cursor: default;      
    }

div.results-viewer-table-container {
    outline: none;
    outline-offset: -1px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    flex-grow: 1;
    overflow: scroll;
    height: 100%;
}

div.results-viewer-paging-bar {
    outline: none;
    outline-offset: -1px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    height: 32px;
    line-height: 32px;
}

table.results-viewer-table {
    border-collapse: collapse;
    margin-top: 5px;    
}

table.results-viewer-table > thead > tr:first-child {
    background: #444;
}

table.results-viewer-table td {
    border: 1px solid white;
    padding: 3px;
    font-size: 90%;
}

table.results-viewer-table > tbody > tr {
    background: #ccc;
    color: #000;        
}

table.results-viewer-table > tbody > tr:nth-child(even) {
    background: #aaa;
}

table.results-viewer-table > tbody > tr > td:first-child, table.results-viewer-table > thead > tr > td:first-child {
    background:  #282c34;
    color:white;
}

table.results-viewer-table > thead > tr > td:first-child {
    border:none;
}

table.results-viewer-table > thead > tr:first-child > td {
    border-bottom:none;
}

table.results-viewer-table > thead > tr:last-child > td {
    border-top:none;
}

div.results-viewer-paging-bar button {
    background: transparent;
    border: 1px solid #aaa;
    color:white;
    font-size: 12px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    width: 30px;
    min-width: 30px;
}

div.results-viewer-paging-bar button:disabled {
    cursor: default;
    color: #666;
    border-color: #666;
}

div.results-viewer-rec-position {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

div.results-viewer-paging-bar > select > option {
    text-align: center;
}

div.results-view-no-records-placeholder {
    background: linear-gradient(#222, #282828);
    height: 100%;
    border:none;

}